<div class="span6 offset3">
	<p>Commute by bike? Not Sure what gear to bring? Fill in the information about your ride for the day, and Weather or Not will display the weather, and some gear suggestions.</p>
	<%= form_tag '/results', :method => "get", :class => 'text-center' do |f| %>
		<%= text_field_tag :location,"", :placeholder => "Location - Required", class: 'input-block-level' %><br/>
		<%= text_field "date", :date, :data => {:behaviour => "datepicker"}, :placeholder => "Today", class: 'input-block-level'  %></br>
		<div id="time_list">
			<div class="time">
				<%= select_tag "times[0][h]", "<option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option><option>11</option><option>12</option>".html_safe, class: 'pull-left' %>
				<%= select_tag "times[0][ampm]", "<option>AM</option><option>PM</option>".html_safe, class: 'pull-right' %>
				<div class="clear-fix"></div>
			</div>
		</div>
		<%= button_tag "Add Time", type: :button, class: 'btn inverse pull-left', id: 'addTime' %>
		<%= button_tag "Do it!", :class => "btn btn-primary pull-right", disabled: "disabled", id: 'submit-btn' %>
	<% end %>
</div>