<h2>Location: 
<%= Functions.getLocation(@search) %>
</h2>
<div class="row-fluid">
	<div class="span12">
		<div id="map-canvas" class="google-maps" style="width:100%;height:250px;"></div>
	</div>
	<a href="/">Go Again</a>
</div>
<div class="row-fluid">
	<div class="span3">
		<h3>You should bring</h3>
		<h5>A Helmet</h5>
		<%= @gear.rain ? "<h5>Rain Gear</h5>".html_safe : "" %>
		<%= @gear.goggles ? "<h5>Goggles</h5>".html_safe : "" %>
		<%= @gear.wind ? "<h5>Windproof Apparael</h5>".html_safe : "" %>
		<%= @gear.sunglasses ? "<h5>Sunglasses</h5>".html_safe : "" %>
	</div>
	<div class="span9">
		<% if session[:times] %>
			<% @times = session[:times] %>
		<% else %>
			<% @times = params[:times] %>
		<% end %>
		<% if @date.today? %>
			<h3>Selected Date <%= @date.to_date.to_formatted_s(:long_ordinal) %> (Today)</h3>
		<% else %>
			<h3>Selected Date <%= @date.to_date.to_formatted_s(:long_ordinal) %></h3>
		<% end %>
		<% @times.each do |array, t| %>
			<% puts "IN VIEW ================" %>
			<% puts t %>
			<div class="result row-fluid">
				<div class="span12">
					<h4>Time: <%= t['h'] %> <%= t['ampm'] %></h4>
				</div>
				<!-- # Calculations going on here, setting variables and what no to get data -->
				<% hour = t['ampm'] == 'PM' ? t['h'].to_i + 12 : t['h'].to_i %>
				<% if hour == 12 %>
					<% hour = 0 %>
				<% elsif hour == 24 %>
					<% hour = 12 %>
				<% end %>
				<% time =  @date.in_time_zone(@timezone.zone).change({:hour => hour}).to_time %>

				<% puts time.in_time_zone(@timezone.zone) %>

				<% today = @forecast.hourly.data.select{ |x| x['time'] == time.to_i }.first %>
				<% yesterday = @yesterday.hourly.data.select{ |x| x['time'] == (time-1.day).to_i }.first %>
				<div class="span6" style="margin-left:0px;">					
					<%= @date.today? ? 'Today:' : 'Day of:' %> 
					<ul>
						<li>Summary: <%= today.summary %></li>
						<li>Temperature: <%= today.temperature.round %>°</li>
						<li>Percipitation Chance: <%= number_to_percentage(today.precipProbability.to_f*100, :precision => 0) %></li>
						<li>Wind Speed: <%= today.windSpeed %> MPH</li>
						<!-- <li>Icon: <%= today.icon %></li> -->
					</ul>
				</div>
				<div class="span6">
					<%= @date.today? ? 'Yesterday:' : 'Previous Day:' %> 
					<ul>
						<li>Summary: <%= yesterday.summary %></li>
						<li>Temperature: <%= yesterday.temperature.round %>°</li>
						<li>Percipitation Chance: <%= number_to_percentage(yesterday.precipProbability.to_f*100, :precision => 0) %></li>
						<li>Wind Speed: <%= yesterday.windSpeed %> MPH</li>
						<!-- <li>Icon: <%= yesterday.icon %></li> -->
					</ul>
				</div>
			</div>
		<% end %>
	</div>
</div>
<script>
	var map;
	function initialize() {
	  var mapOptions = {
	    zoom: 13,
	    center: new google.maps.LatLng(<%= @search['geometry']['location']['lat'] %>, <%= @search['geometry']['location']['lng'] %>),
	    mapTypeId: google.maps.MapTypeId.ROADMAP
	  };
	  map = new google.maps.Map(document.getElementById('map-canvas'),
	      mapOptions);
	}

	initialize();

</script>
